<h1>Reset password</h1>

<form id="form-book" method="post" action="">
  <div class="form-label">
    <div class="message message-info">
    After reset password chceck your email.
    </div>
  </div>

  <div class="form-label">
    <div class="label-description">
      E-mail address
      </div>
    <div class="label-input">
      <input type="email" name="email" required />
    </div>
    <div class="clearfix"></div>
  </div>

  <button name="forgot-submit" class="submit-button" type="submit">Send</button>

  <div class="clearfix"></div>
</form>
