<h1>Loftowa</h1>

<p class="intro">
  There are such families, which then generations try to satisfy the taste buds for the most entitled guests. Karczma u Jakuba to the restaurant and appreciated by its guests who have been visiting our doors since 1998.

  Reduced need for a medicinal product to get more information on this topic. Our team takes care not only about your palate, but also puts some people who are trying to do it.

  The culinary tradition and experience in production 2001 has been awarded the highest "Five Forks" rating in the Rzeczpospolita ranking.

  In 2003, I received the title of a quality service certificate.

  Serecznie we invite you to our modest thresholds ...
</p>

<div id="google-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d312779.94324023684!2d20.78101016755992!3d52.232606273569615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc669a869f01%3A0x72f0be2a88ead3fc!2sWarszawa!5e0!3m2!1spl!2spl!4v1543338641415"  frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
