<h1>Resetowanie hasła</h1>

<form id="form-book" method="post" action="">
  <div class="form-label">
    <div class="message message-info">
    Po wysłaniu e-maila sprawdź swoja pocztę i postępuj zgodnie z dalszymi wskazówkami
    </div>
  </div>

  <div class="form-label">
    <div class="label-description">
      Adres email
      </div>
    <div class="label-input">
      <input type="email" name="email" required />
    </div>
    <div class="clearfix"></div>
  </div>

  <button name="forgot-submit" class="submit-button" type="submit">Wyślij</button>

  <div class="clearfix"></div>
</form>
