<h1>Loftowa</h1>

<p class="intro">
  Jesteśmy firmą rodzinną, której kolejne pokolenia starają się zaspokoić kubki smakowe najbardziej wymagających gości. Loftowa to restauracja znana i ceniona, przez swoich gości, którzy od 1998 roku zaglądają w nasze progi.

  Naszym głównym celem jest sprawić, aby wizyta w Karczmie nie została zapomniana, dlatego profesjonalny personel robi wszystko by zagwarantować gościom niezwykłe przeżycia. Nasz zespół dba nie tylko o Państwa podniebienia, ale przykłada wszelkich starań abyście mogli Państwo cieszyć oczy każdym detalem naszego wystroju.

  Wieloletnia praktyka kulinarna oraz doświadczenie umożliwiło nam w roku 2001 uzyskać w rankingu Rzeczpospoltej  najwyższą ocenę "Pięć widelców”.

  W 2003 roku otrzymaliśmy tytuł laureata certyfikatu najlepszej jakości usług z rąk Kapituły Polskiej Gali Jakości Europejskiej Instytutu Jakości oraz prawo do posługiwania się logo certyfikatu – Najwyższa Jakość Usług.

  Serecznie zapraszamy w nasze skromne progi...
</p>

<div id="google-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d312779.94324023684!2d20.78101016755992!3d52.232606273569615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc669a869f01%3A0x72f0be2a88ead3fc!2sWarszawa!5e0!3m2!1spl!2spl!4v1543338641415"  frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
