<h1>Menu</h1>

<div id="toolbar-menu">
  {buttons}
</div>

{list}

<!--
<div class="menu-box">
  <h2>Zupy</h2>

  <div class="menu-list">
    <div class="menu-item">
      Item name <span class="price">100,00 &euro;</span> <span class="price">50,00 PLN</span>
      <p class="menu-item-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      </p>
    </div>
    <div class="menu-item">
      Item name <span class="price">100,00 &euro;</span> <span class="price">50,00 PLN</span>
      <p class="menu-item-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      </p>
    </div>
    <div class="menu-item">
      Item name <span class="price">100,00 &euro;</span> <span class="price">50,00 PLN</span>
      <p class="menu-item-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      </p>
    </div>
    <div class="menu-item">
      Item name <span class="price">100,00 &euro;</span> <span class="price">50,00 PLN</span>
      <p class="menu-item-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      </p>
    </div>

    <div class="clearfix"></div>
  </div>
</div>

<div class="menu-box">
  <h2>Ryby</h2>

  <div class="menu-list">
    <div class="menu-item">
      Item name <span class="price">100,00 &euro;</span> <span class="price">50,00 PLN</span>
      <p class="menu-item-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      </p>
    </div>

    <div class="menu-item">
      Item name <span class="price">100,00 &euro;</span> <span class="price">50,00 PLN</span>
      <p class="menu-item-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      </p>
    </div>

    <div class="menu-item">
      Item name <span class="price">100,00 &euro;</span> <span class="price">50,00 PLN</span>
      <p class="menu-item-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      </p>
    </div>

    <div class="menu-item">
      Item name <span class="price">100,00 &euro;</span> <span class="price">50,00 PLN</span>
      <p class="menu-item-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      </p>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
  -->

<div class="clearfix"></div>
