<h1>Dodaj kategorie</h1>

<form method="post" action="">
  <div class="form-label">
    <div class="label-description">
      Nazwa kategorii (PL)
      </div>
    <div class="label-input">
      <input type="text" required name="pl_name" />
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="form-label">
    <div class="label-description">
      Nazwa kategorii (ENG)
    </div>
    <div class="label-input">
      <input type="text" required name="eng_name" />
    </div>
    <div class="clearfix"></div>
  </div>

  <button name="category-add-submit" class="submit-button" type="submit">Dodaj kategorie</button>

  <div class="clearfix"></div>
</form>
