<h1>Edytuj kategorie</h1>

<form method="post" action="">
  <div class="form-label">
    <div class="label-description">
      Nazwa kategorii (PL)
      </div>
    <div class="label-input">
      <input type="text" required name="pl_name" value="{pl_name}"/>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="form-label">
    <div class="label-description">
      Nazwa kategorii (ENG)
    </div>
    <div class="label-input">
      <input type="text" required name="eng_name"value="{eng_name}"" />
    </div>
    <div class="clearfix"></div>
  </div>

  <button name="category-edit-submit" class="submit-button" type="submit">Zapisz zmiany</button>

  <div class="clearfix"></div>
</form>
