<h1>Panel administracyjny</h1>

<a class="stat-box" href="category-list.php">
    <span class="icon fontawesome-food"></span>
    <h2>Menu</h2>
</a>

<a class="stat-box" href="table-list.php">
    <span class="icon fontawesome-glass"></span>
    <h2>Stoliki</h2>
</a>

<a class="stat-box" href="reservation-list.php">
    <span class="icon fontawesome-calendar"></span>
    <h2>Rezerwacje</h2>
</a>

<a class="stat-box" href="user-list.php">
    <span class="icon fontawesome-group"></span>
    <h2>Użytkownicy</h2>
</a>

<a class="stat-box" href="logout.php">
    <span class="icon fontawesome-share-alt"></span>
    <h2>Wyloguj</h2>
</a>
