<h1>Dodaj stolik</h1>

<form method="post" action="">
  <div class="form-label">
    <div class="label-description">
      Numer stolika
      </div>
    <div class="label-input">
      <input type="number" required name="table_number" />
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="form-label">
    <div class="label-description">
      Liczba miejsc
    </div>
    <div class="label-input">
      <input type="number" required name="table_count" />
    </div>
    <div class="clearfix"></div>
  </div>

  <button name="table-add-submit" class="submit-button" type="submit">Dodaj stolik</button>

  <div class="clearfix"></div>
</form>
